.example-spacer {
  flex: 1 1;
}

.table-container {
  max-height: 800px;
  overflow: auto;
}

.tasks-header {
  font-size: 15px;
  font-weight: bold;
}

.header{
  display: flex;
}

.tasks-filter{
  display: flex;
  justify-content: left;
  align-items: left;
  margin-right: auto;
}

button{
  margin: 10px;
  border-radius: 10px;
  height: 50px;
}
